body {
    font-family: Arial, sans-serif;
}

#formulario-alta {
    margin-bottom: 20px;
}

input, button {
    margin-bottom: 10px;
}

#contenedor {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}
